<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Odds_Grabber___wclub888.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Odds_Grabber___wclub888.Properties.Settings>
            <setting name="______odds_iswaiting_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_iswaiting_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_issend_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_issend_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds" serializeAs="String">
                <value>0-0.5|0.25
0.5-1|0.75
1-1.5|1.25
1.5-2|1.75
2-2.5|2.25
2.5-3|2.75
3-3.5|3.25
3.5-4|3.75
4-4.5|4.25
4.5-5|4.75
5-5.5|5.25
5.5-6|5.75</value>
            </setting>
        </Odds_Grabber___wclub888.Properties.Settings>
    </userSettings>
</configuration>