<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Odds_Grabber___wclub888.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Odds_Grabber___wclub888.Properties.Settings>
            <setting name="______odds_iswaiting_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_iswaiting_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_issend_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_issend_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______is_send_telegram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="______root_url" serializeAs="String">
                <value>http://www.wclub888.com/Web/home.aspx</value>
            </setting>
            <setting name="______root_url_equals" serializeAs="String">
                <value>http://www.wclub888.com/Web/home.aspx</value>
            </setting>
            <setting name="______root_url_login" serializeAs="String">
                <value>http://www.wclub888.com/Web/w-sport.aspx</value>
            </setting>
            <setting name="______WFT_running" serializeAs="String">
                <value>http://sports.wclub888.com/_View/RMOdds2GenRun.aspx?ot=t&amp;update=false&amp;sa=false&amp;tv=0&amp;tf=-1&amp;TFStatus=0&amp;mt=0&amp;r=1038308059&amp;t=</value>
            </setting>
            <setting name="______WFT_not_running" serializeAs="String">
                <value>http://sports.wclub888.com/_View/RMOdds2Gen.aspx?ot=t&amp;update=false&amp;sa=false&amp;tv=0&amp;tf=-1&amp;TFStatus=0&amp;mt=0&amp;r=342146139&amp;t=</value>
            </setting>
            <setting name="______TBS_running" serializeAs="String">
                <value>http://sport.ugamingservice.com/api/grid/GetOdds</value>
            </setting>
            <setting name="______TBS_not_running" serializeAs="String">
                <value>http://sport.ugamingservice.com/api/grid/GetOdds</value>
            </setting>
            <setting name="______username" serializeAs="String">
                <value>nasrii042318</value>
            </setting>
            <setting name="______password" serializeAs="String">
                <value>AAaa1111</value>
            </setting>
        </Odds_Grabber___wclub888.Properties.Settings>
    </userSettings>
</configuration>